  <%= javascript_include_tag 'jquery.min.js', :cache => false %>
  <%= javascript_include_tag 'flexselect/liquidmetal.js', :cache => false %>
  <%= javascript_include_tag 'flexselect/jquery.flexselect.js', :cache => false %>
    <script type="text/javascript">
      $(document).ready(function() {
        $("select[class*=flexselect]").flexselect({
          allowMismatch: true,
          inputNameTransform: function(name) { return "new_" + name; }
        });
      });
    </script>

<input type="hidden" name="previous" value="<%= from %>" /></td>
<div class="row">
  <div class="col-2"><strong>Yksikk&ouml;</strong></div>
  <div class="col-2"><strong>Tila</strong></div>
  <div class="col-2"><strong>Paikka</strong></div>
  <div class="col-4"><strong>Viesti</strong></div>
  <div class="col"><strong>Johto kutsui</strong></div>
  <div class="col"></div>
</div>
<div class="row">
  <div class="col-2"><div class="form-group"><%= collection_select(:event, :unit_id, Unit.list, :id, :unit, {class: 'form-control'}) %></div></div>
  <div class="col-2"><div class="form-group"><%= collection_select(:event, :state_id, State.all, :id, :state, {class: 'form-control'}) %></div></div>
  <div class="col-2"><div class="form-group"><%= collection_select(:event, :location_id, Location.list, :id, :formtext, {include_blank: true}, {class: 'form-control flexselect'} ) %></div></div>
  <div class="col-4"><div class="form-group"><%= f.text_field :message, {class: 'form-control'} %></div></div>
  <div class="col"><div class="form-group"><%= f.check_box :from_hq, {class: 'form-control'}, true, false %></div></div>
  <div class="col"><div class="form-group"><%= f.submit "Luo" %></div></div>
</div>



