<h1>Tapahtumat</h1>

<p>
  <%= link_to 'Aikajärjestyksessä', '/events' %>
  <%= link_to 'Yksiköittäin', '/events/byunit' %>
  <%= link_to 'Tilastot', '/events/statistics' %>
  <%= link_to 'Tauot', '/events/breaks' %>
  <%= link_to 'Arkistoi', '/events/archive', :confirm => 'Oletko varma?' %>
</p>

  <div class="row">
    <div class="col">Aika</div>
    <div class="col">Yksikk&ouml;</div>
    <div class="col">Tila</div>
    <div class="col">Paikka</div>
    <div class="col">Viesti</div>
    <div class="col">Johdosta</div>
    <div class="col" />
  </div>

<% for event in @events %>
  <div class="row">
    <div class="col"><%= event.updated_at.strftime('%H.%M') %></div>
    <div class="col"><%= event.unit %></div>
    <div class="col"><%= event.state %></div>
    <div class="col"><%= event.location %></div>
    <div class="col"><%= event.message %></div>
    <div class="col"><% if event.from_hq %>
X
<% end %></div>
    <div class="col"><%= link_to 'Poista', event, :confirm => 'Oletko varma?', :method => :delete %></div>
  </div>
<% end %>

<br />

