<h1>Tapahtumat</h1>

<p>
  <%= link_to 'Aikajärjestyksessä', '/events' %>
  <%= link_to 'Yksiköittäin', '/events/byunit' %>
  <%= link_to 'Tilastot', '/events/statistics' %>
  <%= link_to 'Tauot', '/events/breaks' %>
  <%= link_to 'Arkistoi', '/events/archive', :confirm => 'Oletko varma?' %>
</p>

  <div class="row">
    <div class="col"><strong>Aika</strong></div>
    <div class="col"><strong>Yksikk&ouml;</strong></div>
    <div class="col"><strong>Tila</strong></div>
    <div class="col-3"><strong>Paikka</strong></div>
    <div class="col-4"><strong>Viesti</strong></div>
    <div class="col"><strong>Johdosta</strong></div>
    <div class="col"></div>
  </div>

<% for event in @events %>
  <div class="row">
    <div class="col"><%= event.updated_at.strftime('%H.%M') %></div>
    <div class="col"><%= event.unit %></div>
    <div class="col"><%= event.state %></div>
    <div class="col-3"><%= event.location %></div>
    <div class="col-4"><%= event.message %></div>
    <div class="col"><% if event.from_hq %>
X
<% end %></div>
    <div class="col"><%= link_to 'Poista', event, :confirm => 'Oletko varma?', :method => :delete %></div>
  </div>
<% end %>

<br />

