<h1>Tilannekuva</h1>

<table>
  <tr>
    <th>Nimi</th>
    <th>Vapaa</th>
    <th>Matkalla</th>
    <th>Kohteessa</th>
    <th>Kuljettaa</th>
    <th>Poissa</th>
    <th>Sijainti</th>
    <th>Koodi</th>
    <th>Viesti</th>
    <th>Aika</th>
    <th>P&auml;ivitys</th>
  </tr>

<% for unit in @units %>
  <tr>
<% if unit.details %>
    <td title="<%= unit.details %>"><%= unit.unit %></td>
<% else %>
    <td><%= unit.unit %></td>
<% end %>
    <td><div style="background-color:Lime"><%= unit.isfree %></div></td>
    <td><div style="background-color:Red"><%= unit.isenroute %></div></td>
    <td><div style="background-color:Red"><%= unit.isworking %></div></td>
    <td><div style="background-color:Red"><%= unit.istransporting %></div></td>
    <td><div style="background-color:Black; color:White"><%= unit.isaway %></div></td>
<% if unit.location != nil %>
<td title="<%= unit.location %>"><%= unit.location.short %></td>
<% else %>
<td></td>
<% end %>
<% if unit.currentcode != nil && unit.currentcode.explanation != nil %>
<td title="<%= unit.currentcode.explanation %>"><%= unit.currentcode %></td>
<% else %>
<td><%= unit.currentcode %></td>
<% end %>
    <td><%= unit.currentmessage %></td>
    <td><%= unit.currenttime('%H.%M') %></td>
    <td><%= unit.updated('%H.%M') %></td>
  </tr>
<% end %>
</table>
<% if @queue != nil && @queue.size > 0 %>
<h2>Jono</h2>
<table>
  <tr><th>Aika</th><th>Koodi</th><th>Paikka</th><th>Selite</th></tr>
<% for queue in @queue %>
  <tr><td><%= queue.created_at.strftime('%H.%M') %></td>
    <td><%= queue.code %></td>
    <td><%= queue.location %></td>
    <td><%= queue.message %></td>
    <td><%= form_for(queue) do |f| %>
      <%= collection_select(:event, :unit_id, Unit.all(:conditions => 'listorder = 1', :order => 'unit'), :id, :unit) %>
      <%= collection_select(:event, :state_id, State.all(), :id, :state) %>
      <%= f.submit "Siirrä" %>
      <% end %></td>
  </tr>
<% end %>
</table>
<% end %>
