<h1>Yksikön muokkaus</h1>

<%= form_for(@unit) do |f| %>
<% if @unit.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@unit.errors.count, "error") %> estivät tätä yksikköä tallentumasta:</h2>

  <ul>
    <% @unit.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
  <% end %>

  <p>
    <%= f.label :unit, 'Nimi' %>:
    <%= f.text_field :unit %>
  </p>
  <p>
    <%= f.label :phone, 'Puhelin' %>:
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :imei, 'IMEI' %>:
    <%= f.text_field :imei %>
  </p>
  <p>
    <%= f.label :details, 'Lisatiedot' %>:
    <%= f.text_field :details %>
  </p>
  <p>
    <%= f.submit "Talleta" %>
  </p>
<% end %>
<%= button_to "Poista yksikkö", {action: "destroy", id: @unit.id }, method: :delete, data: { confirm: "Oletko varma?" } %>

