<h1>Uusi yksikkö</h1>

<%= form_for(@unit) do |f| %>
<% if @unit.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@unit.errors.count, "error") %> estivät tätä yksikköä tallentumasta:</h2>

  <ul>
    <% @unit.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
  <% end %>

  <p>
    <%= f.label :unit, 'Nimi' %>:
    <%= f.text_field :unit %>
  </p>
  <p>
    <%= f.label :phone, 'Puhelin' %>:
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :imei, 'IMEI' %>:
    <%= f.text_field :imei %>
  </p>
  <p>
    <%= f.label :car, 'Ajoneuvo' %>:
    <%= f.check_box :car %>
  </p>
  <p>
    <%= f.label :details, 'Lisätiedot' %>:
    <%= f.text_field :details %>
  </p>
  <p>
    <%= f.submit "Luo" %>
  </p>
<% end %>

