<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Codes: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

<p>
<%= link_to 'Tilannekuva syötöllä', units_path %>
<%= link_to 'Tilannekuva', '/unit/view/1' %>
<%= link_to 'Tapahtumat', events_path %>
<%= link_to 'Uusi tapahtuma', new_event_path %>
<%= link_to 'Yksiköiden hallinta', '/unit/available/1' %>
<%= link_to 'Uusi yksikkö', new_unit_path %>
<%= link_to 'Koodit', codes_path %>
</p>
</body>
</html>
