<!DOCTYPE html>
<html>
<head>
  <title>Tilannekuva</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag 'flexselect' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<% if controller.action_name == 'view' %>
  <meta http-equiv="refresh" content="60" />
<% end %>
<% if @operation && @operation.zoom != nil && @operation.zoom.length > 0 %>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2_NFShvGrK95C6KYML-4ytRxy7HfOgwk&callback=initMap" type="text/javascript"></script>
  <script type="text/javascript">
    var token="pk.443b2161626b3021d6e086b5fbb52757";
    var map;
    var name;
    var details;

    function initMap() {
        var latlng = new google.maps.LatLng( "<%= @operation.latitude %>", "<%= @operation.longitude %>" );
        map = new google.maps.Map(document.getElementById("map_canvas"), {'zoom': <%= @operation.zoom %>, 'center': latlng });
        var marker;
        var pos;
<% i = 0 %>
<% for unit in @units %>
<% i = i + 1 %>
        var location = "<%= unit.location %>";
        var lat = "<%= unit.lat %>";
        var lon = "<%= unit.lon %>";
        var updated = "<%= unit.updated_at %>";
<% prefix = ( unit.car ? "" : "cross-" ) %>
        var image<%= i %> = "/images/<%= prefix %>white.png";
<% if unit.state != nil && ( unit.state.id == 1 || unit.state.id == 7 ) %>
        image<%= i %> = "/images/<%= prefix %>green.png";
<% end %>
<% if unit.state != nil && unit.state.id == 2 %>
        image<%= i %> = "/images/<%= prefix %>yellow.png";
<% end %>
<% if unit.state != nil && ( unit.state.id == 3 || unit.state.id == 4 ) %>
        image<%= i %> = "/images/<%= prefix %>red.png";
<% end %>
<% if unit.state != nil && ( unit.state.id == 5 || unit.state.id == 6 ) %>
        image<%= i %> = "/images/<%= prefix %>pink.png";
<% end %>
<% if unit.state != nil && ( unit.state.id == 8 || unit.state.id == 9 ) %>
        image<%= i %> = "/images/<%= prefix %>blue.png";
<% end %>
        if( lat && lon && ( ! location || updated > (new Date()).getTime() / 1000 - 900 ) ) {
            pos = new google.maps.LatLng( lat, lon );
            marker = new google.maps.Marker({position: pos, draggable: true, icon: image<%= i %>, title:"<%= unit %> <%= unit.state %> <%= unit.currentcode %> <%= unit.currentmessage %>", id: "<%=unit.id%>", map: map });
            google.maps.event.addListener(marker, 'dragend', function(event) {
              $.post( "/events/drag", { id: <%= unit.id %>, lat: event.latLng.lat(), lon: event.latLng.lng() } );
            });
        } else {
            marker = new google.maps.Marker({position: new google.maps.LatLng( lat, lon ), draggable: true, icon: image<%= i %>, title:"<%= unit %> <%= unit.state %> <%= unit.currentcode %> <%= unit.currentmessage %>", id: "<%=unit.id%>", map: map });
        }
<% end %>
<% if @queue %>
<% for queue in @queue %>
        var encoded = encodeURI("<%= queue.location %>, <%= @operation.postfix %>, FI");
        var latlon = $.get("https://maps.googleapis.com/maps/api/geocode/json?address=" + encoded + "&key=AIzaSyD2_NFShvGrK95C6KYML-4ytRxy7HfOgwk", function(data) {
                var marker = new google.maps.Marker({position: data.results[0].geometry.location, icon: "/images/queue.png", title:"<%= queue.message %> <%= queue.code %>", map: map});
});
<% end %>
<% end %>
    }

  </script>
<% end %>
</head>

<% if @operation && @operation.zoom && @operation.zoom.length > 0 %>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
	<%= link_to 'Tilannekuva', units_view_path, class: 'navbar-brand' %>
      </div>
      <div id="navbar">
	<ul class="nav navbar-nav">
	  <li><%= link_to 'Tilannekuva syötöllä', units_path %></li>
	  <li><%= link_to 'Tapahtumat', events_path %></li>
	  <li><%= link_to 'Uusi tapahtuma', new_event_path %></li>
	  <li><%= link_to 'Yksiköiden hallinta', units_available_path %></li>
	  <li><%= link_to 'Uusi yksikkö', new_unit_path %></li>
	  <li><%= link_to 'Operaatiot', operations_path %></li>
	  <li><%= link_to 'Koodit', codes_path %></li>
	</ul>
<% if ! Rails.configuration.use_basic_auth %>
	<ul class="nav navbar-nav pull-right">
	  <% if user_signed_in? %>
	  <li class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	      <%= current_user.email %>
	      <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu" role="menu">
	      <li><%= link_to 'Kirjaudu ulos', destroy_user_session_path, method: :delete %></li>
	    </ul>
	  </li>
	  <% else %>
	  <li><%= link_to 'Kirjaudu sisään', new_user_session_path %></li>
	  <% end %>
	</ul>
<% end %>
      </div>
    </div>
  </nav>
    <div id="map_canvas" style="width: <%= @operation.width %>px; height: <%= @operation.height %>px"></div>
<% else %>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
	<%= link_to 'Tilannekuva', units_view_path, class: 'navbar-brand' %>
      </div>
      <div id="navbar">
	<ul class="nav navbar-nav">
	  <li><%= link_to 'Tilannekuva syötöllä', units_path %></li>
	  <li><%= link_to 'Tapahtumat', events_path %></li>
	  <li><%= link_to 'Uusi tapahtuma', new_event_path %></li>
	  <li><%= link_to 'Yksiköiden hallinta', units_available_path %></li>
	  <li><%= link_to 'Uusi yksikkö', new_unit_path %></li>
	  <li><%= link_to 'Operaatiot', operations_path %></li>
	  <li><%= link_to 'Koodit', codes_path %></li>
	</ul>
<% if ! Rails.configuration.use_basic_auth %>
	<ul class="nav navbar-nav pull-right">
	  <% if user_signed_in? %>
	  <li class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	      <%= current_user.email %>
	      <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu" role="menu">
	      <li><%= link_to 'Kirjaudu ulos', destroy_user_session_path, method: :delete %></li>
	    </ul>
	  </li>
	  <% else %>
	  <li><%= link_to 'Kirjaudu sisään', new_user_session_path %></li>
	  <% end %>
	</ul>
<% end %>
      </div>
    </div>
  </nav>
<% if @operation && @operation.map && @operation.map.length > 0 %>
<div id="image"><img width="<%= @operation.width %>" height="<%= @operation.height %>" src="<%= @operation.map %>" />
<% for unit in @units %>
<% if unit.location && unit.location.x %>
<div style="position: absolute; top: <%= unit.location.y %>px; left: <%= unit.location.x %>px;"><p><%= unit.coloredname %></p></div>
<% end %>
<% end %>
</div>
<% end %>
<% end %>

<p style="color: green"><%= flash["notice"] %></p>
  <%= yield :top_content %>

  <div class="container">
    <h1><%= yield :header %></h1>
    <%= yield %>
  </div>


</body>
</html>
