<h1>Uusi operaatio</h1>

<%= form_for(@operation) do |f| %>
<% if @operation.errors.any? %>
<ul>
  <% @operation.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

  <table>
  <tr>
    <td><%= f.label :name, 'Nimi' %>:</td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td colspan="2"><b>Täytä seuraavat jos haluat Googlen kartan.</b></td>
  </tr>
  <tr>
    <td><%= f.label :latitude, 'Latitude' %>:</td>
    <td><%= f.text_field :latitude %></td>
  </tr>
  <tr>
    <td><%= f.label :longitude, 'Longitude' %>:</td>
    <td><%= f.text_field :longitude %></td>
  </tr>
  <tr>
    <td><%= f.label :zoom, 'Zoom' %>:</td>
    <td><%= f.text_field :zoom %></td>
  </tr>
  <tr>
    <td><%= f.label :width, 'Leveys' %>:</td>
    <td><%= f.text_field :width %></td>
  </tr>
  <tr>
    <td><%= f.label :height, 'Korkeus' %>:</td>
    <td><%= f.text_field :height %></td>
  </tr>
  <tr>
    <td><%= f.label :postfix, 'Paikkapääte' %>:</td>
    <td><%= f.text_field :postfix %></td>
  </tr>
  <tr>
    <td colspan="2"><b>Täytä seuraava jos haluat muun kartan.</b></td>
  </tr>
  <tr>
    <td><%= f.label :map, 'Karttapohjan URL' %>:</td>
    <td><%= f.text_field :map %></td>
  </tr>
  <tr>
    <td colspan="2"><b>Täytä seuraavat jos haluat tekstiviestit. (ei toimi)</b></td>
  </tr>
  <tr>
    <td><%= f.label :smsurl, 'SMS-palvelun tili' %>:</td>
    <td><%= f.text_field :smsurl %></td>
  </tr>
  <tr>
    <td><%= f.label :smstoken, 'SMS-palvelun salasana' %>:</td>
    <td><%= f.text_field :smstoken %></td>
  </tr>
  <p>
    <%= f.label :smsfrom, 'SMS-palvelun lähtönumero' %>:
    <%= f.text_field :smsfrom %>
  </p>
  <tr>
    <td colspan="2"><b>Täytä seuraava jos kytkettynä on TETRA-puhelin. (ei toimi)</b></td>
  </tr>
  <tr>
    <td><%= f.label :tetraport, 'TETRA-puhelimen portti' %>:</td>
    <td><%= f.text_field :tetraport %></td>
  </tr>
  <tr>
    <td><%= f.submit "Luo" %></td>
  </tr>
  </table>
<% end %>

<%= link_to 'Takaisin', operations_path %>
